
.checkbox-container{
    display: flex;
    align-items: center;
}
.checkbox-container label{
    display: flex;
    cursor: pointer;
}
.checkbox-container input[type="checkbox"] {
    cursor: pointer;
    opacity: 0;
    position: absolute;
}

.checkbox-container label::before {
    content: '';
    width: 1.5em;
    height: 1.5em;
    border: .05em solid #fff;
    border-radius: .15em;
    margin-right: .5em;

}
.checkbox-container label:hover{
    color: aqua;
}
.checkbox-container label:hover::before, 
.checkbox-container input[type="checkbox"]:hover + label::before{
    content: '\002714';
    background-color: aqua;
    color: #111;
}
.checkbox-container input[type="checkbox"]:focus + label::before{
    box-shadow: 0 0 20px black;
}
.checkbox-container input[type="checkbox"]:checked + label::before{
    content: '\002714';
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white!important;
}
.year span:hover{
    background-color: aqua;
    color: #111;
}